<div class="sidebar">
  <a routerLinkActive="active" routerLink="/dashboard/home" class="mt-5 pl-2">Dashboard</a>
  <a routerLinkActive="active" routerLink="/dashboard/apply-loan" class="pl-2">Apply Loan</a>
  <a routerLinkActive="active" routerLink="/dashboard/my-loans" class="pl-2">My Loans</a>
  <a routerLinkActive="active" routerLink="/dashboard/pay-loan" class="pl-2">Pay Loan</a>
  <!-- <a routerLinkActive="active" routerLink="/dashboard/loan-limit" class="pl-2">My Loan Limit</a> -->

</div>

<div class="content">
  <div class="dashboad-menu-bar">

    <div class="container">
      <div class="row">
        <div class="col-11">
          <h1 class="text-center">Eclectics </h1>
        </div>
        <div class="col-1">
          <p class="mt-3 logout" (click)="logoutUser()">Logout</p>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="lead mt-3 text-success">Welcome to Eclectics Internation Ltd</h3>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>
