<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">

      <div class="container">
        <div class="row">
          <div class="col-10">
            <h2 class="text-lead">Your Loans</h2>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success btn-block" routerLinkActive="active"
              routerLink="/dashboard/apply-loan">New Loan</button>
          </div>

        </div>
      </div>
      <hr>
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Type of Loan</th>
            <th>Amount Borrowed</th>
            <th>Balance</th>
            <th>Payment Period</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of myLoans">
            <td scope="row">{{loan?._id}}</td>
            <td>{{loan?.loan_type}}</td>
            <td>{{loan?.amount | currency:' Ksh '}}</td>
            <td>{{loan?.amount | currency:' Ksh '}}</td>
            <td>In {{loan?.payment_period}} Months</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>
